<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }
    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }
</style>

<div class="alert alert-success" role="alert" ng-if="updateSuccess">Ягода обновлена!</div>

<form name="berryForm" novalidate>
    <div class="form-group">
        <label>Название</label>
      <input class="form-control" ng-model="berry.name" type="text" placeholder="Название">
    </div>
    <button type="submit" class="btn btn-default" ng-click="updateBerry()" ng-disabled="berryForm.$invalid">Обновить</button>
</form>
