<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<div class="alert alert-success" role="alert" ng-if="creationSuccess">Готово!</div>

<form name="berryForm" novalidate>
    <div class="form-group">
        <label>Название</label>
        <input class="form-control" ng-model="berry.name" type="text" placeholder="Название" required>
    </div>
    <button type="submit" class="btn btn-default" ng-click="createBerry(berry)" ng-disabled="berryForm.$invalid">Добавить</button>
</form>
