<div class="alert alert-danger" role="alert" ng-if="notfoundError">Ягоды нет :(</div>

<div class="media" ng-if="!deletionSuccess">
    <div class="media-body">

        <h1 class="media-heading">{{berry.name | uppercase }}</h1>
        <button class="btn btn-danger" ng-click="deleteBerry(berry.objectId)">
            <span class="glyphicon glyphicon-trash"></span>
            Удалить
        </button>
        <a class="btn btn-primary" href="#!/editBerry/{{berry.objectId}}">
            Редактировать
        </a>

    </div>
</div>

<div class="alert alert-success" role="alert" ng-if="deletionSuccess">Ягода удалена</div>
<div class="alert alert-danger" role="alert" ng-if="deletionError">Ягода не удаляется</div>
